### 1. Write a python program to scrape data from http://www.naukri.com  for "Data Analyst" Job position in "Bangalore" location.  You have to scrape first 10 jobs data

Scraped Data items:-
1. Job_title
2. Job_location
3. Company_Name
4. Experience_required

In [57]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [58]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [59]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [60]:
url='https://www.naukri.com/'
driver.get(url)

In [61]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst,")
search_locn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn
search_locn.send_keys("Bangalore/Bangaluru")
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')

In [62]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")
search_btn

In [69]:
search_btn.click()

In [71]:
title =driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

title_name=[]
for i in title:
    title_name.append(i.text)
title_name[0:10]
#<a class="title fw500 ellipsis" href="https://www.naukri.com/job-listings-lead-data-analyst-scientist-axim-technologies-bangalore-bengaluru-12-to-14-years-060122901886?src=jobsearchDesk&amp;sid=16416276397568475&amp;xp=1&amp;px=1" title="Lead - Data Analyst / Scientist" target="_blank">Lead - Data Analyst / Scientist</a>

['Lead - Data Analyst / Scientist',
 'Senior Data Analyst - Supporting Audits',
 'Senior Data Analyst - KPO',
 'Data Analyst',
 'Financial Data Analyst',
 'Tcs Hiring For Data Analyst / Engineers',
 'Business Data Analyst - Database Design/Mining',
 'Senior Analyst, Data Engineering',
 'Senior Analyst, Data Engineering',
 'Data Analyst']

In [72]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [73]:
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="fb88e765-6c47-4918-b409-0b244fb23eaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="872eed15-a0b2-4849-bbcd-9c480e5c0137")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="dbcca048-cc07-45ca-86ca-dd250b7dcb75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="13bb111a-60aa-4c9d-9d6a-0e538df2f884")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="dc41f8b0-f9e3-4491-b4af-78599f9e2708")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="dfc4802c-7809-4fea-be40-5d17d8b0174d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="69010151-215a-4bb7-8a44-f44458b01042")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="1677e01b-d502-4844-8663-e0db0eed07d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="2f9461ae-11c3-4313-821c-40c5a56998fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="d7173c0d-827c-4127-9c01-fee404b91a8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="527890e8-11de-4d99-9015-d355b6c94877")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="9ee773df-f66b-4306-8b7a-1097cec59ada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="0eb93927-4dfb-45e1-a316-3b716f5dde63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="84a9577f-1930-4e83-be4e-2216a0fdfee4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="df08649c-9c51-4f6b-be08-39d014b9d88f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="6ea7823f-9af9-46ce-b78f-80202d34c035")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="24dca347-c7ac-4e1e-be9f-b753c55503bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="2b884211-42a4-4313-970d-9ac81abf0d8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="f5ed21a2-5350-4ee3-a916-3df6b89b0156")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a00154610c83c03caac211c8fa0cda3", element="d11d58ab-d669-4677-8afc-66351c8c4328")>]

In [74]:
locn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [75]:
loc_name=[]
for i in locn_tag:
    loc_name.append(i.text)
loc_name

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [76]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[0:10]

['Axim Technologies',
 'Visa',
 'Huquo Consulting Pvt. Ltd',
 'Snaphunt',
 "Moody's",
 'TCS',
 'AugmatrixGo',
 'Dell',
 'Dell',
 'Jebpo Services Llp']

In [77]:
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [78]:
exp=[]
for i in exp_tag:
    exp.append(i.text)
exp

['12-14 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '7-12 Yrs',
 '1-2 Yrs',
 '2-3 Yrs',
 '3-7 Yrs',
 '5-7 Yrs',
 '1-6 Yrs',
 '1-6 Yrs']

In [79]:
df=pd.DataFrame({'Company Name':company_name[0:10] , 'Position' :title_name[0:10],'Experience_Required' :exp[0:10],'Location' :loc_name[0:10]})
df

,Company Name,Position,Experience_Required,Location
0,Axim Technologies,Lead - Data Analyst / Scientist,12-14 Yrs,Bangalore/Bengaluru
1,Visa,Senior Data Analyst - Supporting Audits,5-8 Yrs,Bangalore/Bengaluru
2,Huquo Consulting Pvt. Ltd,Senior Data Analyst - KPO,7-12 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Snaphunt,Data Analyst,0-2 Yrs,Bangalore/Bengaluru
4,Moody's,Financial Data Analyst,0-2 Yrs,Bangalore/Bengaluru
5,TCS,Tcs Hiring For Data Analyst / Engineers,4-9 Yrs,"Pune, Bangalore/Bengaluru, Delhi / NCR"
6,AugmatrixGo,Business Data Analyst - Database Design/Mining,2-5 Yrs,Bangalore/Bengaluru
7,Dell,"Senior Analyst, Data Engineering",5-10 Yrs,Bangalore/Bengaluru
8,Dell,"Senior Analyst, Data Engineering",5-10 Yrs,Bangalore/Bengaluru
9,Jebpo Services Llp,Data Analyst,3-6 Yrs,Bangalore/Bengaluru\n(WFH during Covid)

## 2. Write a python program to scrape data for "Data Scientist" Job position in Bangalore location. You have to scrape 10 jobs data using

1. Job title
2. Job location
3. Company name

In [95]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [96]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [97]:
url='https://www.naukri.com/'
driver.get(url)

In [98]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [99]:
search_job.send_keys("Data scientist,")

In [100]:
search_locn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [101]:
search_locn.send_keys("Delhi/NCR")

In [102]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [103]:
search_btn.click()

In [106]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[1]/span')

In [107]:
salary_check.click()

In [108]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [109]:
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name[0:10]

['Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Senior Data Scientist I',
 'Senior Data Scientist I',
 'Data Scientist || Machine Learning Engineer || Deep Learning',
 'Senior Data Scientist',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist II',
 'ML Engineer/Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [110]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [111]:
locn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [112]:
loc_name=[]
for i in locn_tag:
    loc_name.append(i.text)
loc_name

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR, Bangalore/Bengaluru\n(WFH during Covid)',
 'Noida',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR, Mumbai (All Areas)',
 'Mumbai, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Mumbai, Hyderabad/Secunderabad, New Delhi, Pune, Chennai',
 'Gurgaon/Gurugram']

In [114]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[0:10]

['Schlesinger Group',
 'Delhivery',
 'Delhivery',
 'Schlesinger Group',
 'Fractal Analytics',
 'Pluto seven business solutions (p) limited',
 'Zenatix Solutions Private Limited',
 'Rapid Talent Solutions',
 'Bigshyft Hiring for Info Edge',
 'Mobikwik']

In [115]:
df=pd.DataFrame({'Company Name':company_name[0:10] , 'Position' :title_name[0:10], 'Location' :loc_name[0:10]})
df

,Company Name,Position,Location
0,Schlesinger Group,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR"
1,Delhivery,Senior Data Scientist I,Gurgaon/Gurugram
2,Delhivery,Senior Data Scientist I,Gurgaon/Gurugram
3,Schlesinger Group,Data Scientist || Machine Learning Engineer ||...,"Noida, Gurgaon/Gurugram, Delhi / NCR"
4,Fractal Analytics,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
5,Pluto seven business solutions (p) limited,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
6,Zenatix Solutions Private Limited,Data Scientist II,Gurgaon/Gurugram
7,Rapid Talent Solutions,ML Engineer/Data Scientist,"Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu..."
8,Bigshyft Hiring for Info Edge,Senior Data Scientist,Noida
9,Mobikwik,Senior Data Scientist,Gurgaon/Gurugram\n(WFH during Covid)

## 3. In this question you have to scrape the data using the filters available on the webpage www.naukri.com

1. Scrape location and salary filter

2. Scrape Data for "Data Scientist" in skills, Designation and Companies field.

3. Scrape the job title, job location Company Name and experience required.

4. The location filter to be used is "Delhi/NCR". The salary filter to be used is "3-6" years.

In [130]:
import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [131]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [132]:
url='https://www.naukri.com/'
driver.get(url)

In [134]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys("Data Scientist,")

search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn.send_keys("Delhi/NCR")
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div[1]/div[6]')
search_btn.click()
time.sleep(2)

In [135]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[1]/label/p/span[2]')
salary_check.click()

In [136]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
#title_name[0:10]

company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[0:10]

locn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_name=[]
for i in locn_tag:
    loc_name.append(i.text)

In [137]:
df=pd.DataFrame({'Company Name':company_name[0:10] , 'Position' :title_name[0:10], 'Location' :loc_name[0:10]})
df

,Company Name,Position,Location
0,Sejal Consulting Hub,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
1,Delhivery,Senior Data Scientist I,Gurgaon/Gurugram
2,Delhivery,Senior Data Scientist I,Gurgaon/Gurugram
3,Pluto seven business solutions (p) limited,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
4,T & A Solutions,Data Scientist,Gurgaon/Gurugram
5,Schlesinger Group,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR"
6,Zenatix Solutions Private Limited,Data Scientist II,Gurgaon/Gurugram
7,Mobikwik,Senior Data Scientist,Gurgaon/Gurugram\n(WFH during Covid)
8,TransOrg Solutions Services (P) Ltd.,Data Scientist/ Analyst Specialist,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NC..."
9,Schlesinger Group,Data Scientist || Machine Learning Engineer ||...,"Noida, Gurgaon/Gurugram, Delhi / NCR"

## 4. Scrape data for first 100 sunglasses listing on www.flipkart.com. You have to scrape four attributes.
1. Brand
2. Product Description
3. Price
4. Scrape first page , repeat until 100 sunglasses explored.

In [199]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [200]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [201]:
url='https://www.flipkart.com/'
driver.get(url)
time.sleep(2)

In [224]:
search_bar_fk=driver.find_element_by_class_name('_3704LK')
search_bar_fk.clear()
search_bar_fk.send_keys('sunglasses')

In [225]:
search_btn_fk=driver.find_element_by_class_name('_34RNph')
search_btn_fk.click()

In [226]:
search_locn=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/ul')
search_locn

In [227]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [228]:
title_name=[]
for i in product_tag:
    title_name.append(i.text)
title_name

['SRPM',
 'kingsunglasses',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'ROZZETTA CRAFT',
 'New Specs',
 'ROZZETTA CRAFT',
 'PIRASO',
 'RYLEN',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'New Specs',
 'VINCENT CHASE',
 'kingsunglasses',
 'PHENOMENAL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Elligator',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'Rich Club',
 'Johaena',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PHENOMENAL',
 'ROYAL SON',
 'ROYAL SON',
 'PIRASO',
 'Lee Topper',
 'kingsunglasses',
 'Anemone']

In [229]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [230]:
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [231]:
prices=[]
for i in price_tags:
    prices.append(i.text)
prices

['₹188',
 '₹188',
 '₹248',
 '₹999',
 '₹759',
 '₹165',
 '₹200',
 '₹449',
 '₹259',
 '₹474',
 '₹200',
 '₹182',
 '₹383',
 '₹271',
 '₹262',
 '₹999',
 '₹274',
 '₹309',
 '₹499',
 '₹426',
 '₹190',
 '₹181',
 '₹359',
 '₹999',
 '₹348',
 '₹179',
 '₹243',
 '₹426',
 '₹187',
 '₹165',
 '₹156',
 '₹426',
 '₹299',
 '₹299',
 '₹449',
 '₹569',
 '₹299',
 '₹276',
 '₹273',
 '₹499']

In [232]:
des=[]
for i in des_tag:
    des.append(i.text)
des

['UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart UV Protection Aviator Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized Round Sunglasses (48)',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Others Rectangular Sunglasses (50)']

In [233]:
df=pd.DataFrame({'Product Name':title_name[0:30] , 'Description' :des[0:30], 'Price' :prices[0:30]})
df

         Product Name                                        Description Price
0                SRPM             UV Protection Wayfarer Sunglasses (56)  ₹188
1      kingsunglasses                UV Protection Round Sunglasses (54)  ₹188
2           Elligator                UV Protection Round Sunglasses (54)  ₹248
3       VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (53)  ₹999
4            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹759
5   SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  ₹165
6              PIRASO              UV Protection Aviator Sunglasses (54)  ₹200
7      ROZZETTA CRAFT     UV Protection Spectacle Sunglasses (Free Size)  ₹449
8           New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹259
9      ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)  ₹474
10             PIRASO              UV Protection Aviator Sunglasses (54)  ₹200
11              RYLEN  UV Protection Retro Square Sunglasses (Free Size)  ₹182
12     ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹383
13             SUNBEE  UV Protection, Polarized, Mirrored Round Sungl...  ₹271
14          New Specs  Mirrored, UV Protection, Riding Glasses, Other...  ₹262
15      VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (...  ₹999
16     kingsunglasses   Mirrored, UV Protection Wayfarer Sunglasses (53)  ₹274
17         PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)  ₹309
18           Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹499
19     ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹426
20             PIRASO             UV Protection Wayfarer Sunglasses (32)  ₹190
21  SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  ₹181
22          ROYAL SON                   Mirrored Aviator Sunglasses (55)  ₹359
23      VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹999
24     ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹348
25          Elligator                UV Protection Round Sunglasses (53)  ₹179
26             SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  ₹243
27     ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...  ₹426
28     kingsunglasses  UV Protection, Riding Glasses, Mirrored Wayfar...  ₹187
29          Rich Club                    Polarized Round Sunglasses (48)  ₹165

In [234]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span').click()

In [235]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name1=[]
for i in product_tag:
    title_name1.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices1=[]
for i in price_tags:
    prices1.append(i.text)
prices

des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des1=[]
for i in des_tag:
    des1.append(i.text)
des

['UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart UV Protection Aviator Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized Round Sunglasses (48)',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Others Rectangular Sunglasses (50)']

In [236]:
df1=pd.DataFrame({'Product Name':title_name1[0:35] , 'Description' :des1[0:35], 'Price' :prices1[0:35]})
df1

         Product Name                                        Description Price
0                SRPM             UV Protection Wayfarer Sunglasses (56)  ₹188
1      kingsunglasses                UV Protection Round Sunglasses (54)  ₹188
2           Elligator                UV Protection Round Sunglasses (54)  ₹248
3       VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (53)  ₹999
4            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹759
5   SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  ₹165
6              PIRASO              UV Protection Aviator Sunglasses (54)  ₹200
7      ROZZETTA CRAFT     UV Protection Spectacle Sunglasses (Free Size)  ₹449
8           New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹259
9      ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)  ₹474
10             PIRASO              UV Protection Aviator Sunglasses (54)  ₹200
11              RYLEN  UV Protection Retro Square Sunglasses (Free Size)  ₹182
12     ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹383
13             SUNBEE  UV Protection, Polarized, Mirrored Round Sungl...  ₹271
14          New Specs  Mirrored, UV Protection, Riding Glasses, Other...  ₹262
15      VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (...  ₹999
16     kingsunglasses   Mirrored, UV Protection Wayfarer Sunglasses (53)  ₹274
17         PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)  ₹309
18           Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹499
19     ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹426
20             PIRASO             UV Protection Wayfarer Sunglasses (32)  ₹190
21  SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  ₹181
22          ROYAL SON                   Mirrored Aviator Sunglasses (55)  ₹359
23      VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹999
24     ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹348
25          Elligator                UV Protection Round Sunglasses (53)  ₹179
26             SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  ₹243
27     ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...  ₹426
28     kingsunglasses  UV Protection, Riding Glasses, Mirrored Wayfar...  ₹187
29          Rich Club                    Polarized Round Sunglasses (48)  ₹165
30            Johaena  Riding Glasses, UV Protection Oval Sunglasses ...  ₹156
31     ROZZETTA CRAFT              Gradient Round Sunglasses (Free Size)  ₹426
32         PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...  ₹299
33         PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...  ₹299
34          ROYAL SON          UV Protection Rectangular Sunglasses (58)  ₹449

In [237]:
df2=df.append(df1, ignore_index = True)
df2

      Product Name                                        Description Price
0             SRPM             UV Protection Wayfarer Sunglasses (56)  ₹188
1   kingsunglasses                UV Protection Round Sunglasses (54)  ₹188
2        Elligator                UV Protection Round Sunglasses (54)  ₹248
3    VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (53)  ₹999
4         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹759
..             ...                                                ...   ...
60         Johaena  Riding Glasses, UV Protection Oval Sunglasses ...  ₹156
61  ROZZETTA CRAFT              Gradient Round Sunglasses (Free Size)  ₹426
62      PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...  ₹299
63      PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...  ₹299
64       ROYAL SON          UV Protection Rectangular Sunglasses (58)  ₹449

[65 rows x 3 columns]

In [242]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span').click()

In [243]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name2=[]
for i in product_tag:
    title_name2.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices2=[]
for i in price_tags:
    prices2.append(i.text)
prices

des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des2=[]
for i in des_tag:
    des2.append(i.text)
des2

['UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Others Round Sunglasses (48)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Cat-eye Sunglasses (55)',
 'UV Protection Round Sunglasses (48)',
 'Polarized Round Sunglasses (48)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round, Oval Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Polarized, UV Protection Rectangular Sunglasses (64)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Shield, Wayfarer Sunglasses (61)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (58)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...']

In [244]:
df3=pd.DataFrame({'Product Name':title_name2[0:35] , 'Description' :des2[0:35], 'Price' :prices2[0:35]})
df3

         Product Name                                        Description Price
0      ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹349
1           ROYAL SON                   Mirrored Aviator Sunglasses (55)  ₹359
2          PHENOMENAL  UV Protection, Mirrored Clubmaster Sunglasses ...  ₹287
3      ROZZETTA CRAFT  Gradient, UV Protection Round Sunglasses (Free...  ₹426
4      ROZZETTA CRAFT         UV Protection Round Sunglasses (Free Size)  ₹426
5           ROYAL SON         UV Protection Retro Square Sunglasses (58)  ₹449
6           Rich Club        UV Protection, Others Round Sunglasses (48)  ₹232
7             VILLAIN             Others Wayfarer Sunglasses (Free Size)  ₹522
8            Fastrack                UV Protection Round Sunglasses (55)  ₹899
9            Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹659
10           Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹759
11          ROYAL SON   Polarized, UV Protection Cat-eye Sunglasses (55)  ₹649
12          Rich Club                UV Protection Round Sunglasses (48)  ₹250
13          Rich Club                    Polarized Round Sunglasses (48)  ₹163
14       Singco India  Gradient, Toughened Glass Lens, UV Protection ...  ₹599
15          ROYAL SON             UV Protection Wayfarer Sunglasses (55)  ₹251
16     ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...  ₹426
17          Elligator          UV Protection Round, Oval Sunglasses (54)  ₹266
18             PIRASO       UV Protection Aviator Sunglasses (Free Size)  ₹261
19             Sewell       UV Protection Aviator Sunglasses (Free Size)  ₹320
20          New Specs         UV Protection Round Sunglasses (Free Size)  ₹233
21       Silver Kartz                 UV Protection Oval Sunglasses (56)  ₹284
22     kingsunglasses    Mirrored, UV Protection Aviator Sunglasses (56)  ₹211
23          ROYAL SON  Polarized, UV Protection Rectangular Sunglasse...  ₹699
24     ROZZETTA CRAFT  UV Protection, Riding Glasses Rectangular Sung...  ₹426
25         Lee Topper         UV Protection Round Sunglasses (Free Size)  ₹244
26  SHAAH COLLECTIONS         UV Protection Round Sunglasses (Free Size)  ₹270
27             AISLIN     UV Protection Shield, Wayfarer Sunglasses (61)  ₹356
28     kingsunglasses  UV Protection, Mirrored Aviator Sunglasses (Fr...  ₹235
29          ROYAL SON                   Mirrored Aviator Sunglasses (58)  ₹359
30     ROZZETTA CRAFT  Mirrored, UV Protection Round Sunglasses (Free...  ₹360
31          ROYAL SON  Polarized, UV Protection Retro Square Sunglass...  ₹649
32           Fastrack      Polarized Retro Square Sunglasses (Free Size)  ₹639
33              Fravy  UV Protection, Gradient, Night Vision Retro Sq...  ₹245
34           Poloport      UV Protection Wayfarer Sunglasses (Free Size)  ₹236

In [245]:
df3.append(df2, ignore_index = True)

      Product Name                                        Description Price
0   ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹349
1        ROYAL SON                   Mirrored Aviator Sunglasses (55)  ₹359
2       PHENOMENAL  UV Protection, Mirrored Clubmaster Sunglasses ...  ₹287
3   ROZZETTA CRAFT  Gradient, UV Protection Round Sunglasses (Free...  ₹426
4   ROZZETTA CRAFT         UV Protection Round Sunglasses (Free Size)  ₹426
..             ...                                                ...   ...
95         Johaena  Riding Glasses, UV Protection Oval Sunglasses ...  ₹156
96  ROZZETTA CRAFT              Gradient Round Sunglasses (Free Size)  ₹426
97      PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...  ₹299
98      PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...  ₹299
99       ROYAL SON          UV Protection Rectangular Sunglasses (58)  ₹449

[100 rows x 3 columns]

## 5. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go to the link
1. Rating
2. Review Summary
3. Full Summary
4. Scrape this data for first 100 reviews

In [246]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [446]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [477]:
url="https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8HS0EXP&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [478]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [479]:
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)

In [480]:
df=pd.DataFrame({'Rating':ratings[0:20] , 'Review_Summary' :reviews[0:20], 'Full Review' :summarys[0:20]})
df

,Rating,Review_Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
9,5,Highly recommended,What a camera .....just awesome ..you can feel...

In [481]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[3]/div/div/div/div[1]/div').click()

In [482]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)

In [483]:
df1=pd.DataFrame({'Rating':ratings[0:20] , 'Review_Summary' :reviews[0:20], 'Full Review' :summarys[0:20]})
df1

,Rating,Review_Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
9,5,Highly recommended,What a camera .....just awesome ..you can feel...

In [484]:
df2=df.append(df1, ignore_index = True)

In [485]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]').click()

In [486]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)

In [487]:
df3=pd.DataFrame({'Rating':ratings[0:20] , 'Review_Summary' :reviews[0:20], 'Full Review' :summarys[0:20]})

In [488]:
df4=df3.append(df2, ignore_index = True)

In [489]:
driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [490]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)

In [491]:
df5=pd.DataFrame({'Rating':ratings , 'Review_Summary' :reviews, 'Full Review' :summarys})

In [492]:
df6=df4.append(df5, ignore_index = True)

In [493]:
driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [494]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df7=pd.DataFrame({'Rating':ratings , 'Review_Summary' :reviews, 'Full Review' :summarys})

In [495]:
df8=df6.append(df7, ignore_index = True)

In [496]:
driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [497]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df9=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [498]:
df10=df8.append(df9, ignore_index = True)

In [499]:
driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [500]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df11=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [501]:
df12=df10.append(df11, ignore_index = True)

In [502]:
driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [503]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df13=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [504]:
df14=df12.append(df13, ignore_index = True)

In [505]:
driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [506]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df15=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [507]:
df16=df14.append(df15, ignore_index = True)

In [508]:
driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [509]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df17=pd.DataFrame({'Rating':ratings[0:9] , 'Review_Summary' :reviews[0:9], 'Full Review' :summarys[0:9]})

In [510]:
df18=df16.append(df17, ignore_index = True)

In [511]:
driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [512]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings=[]
for i in rating:
    ratings.append(i.text)
    
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviews=[]
for i in review:
    reviews.append(i.text)
    
summary=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
summarys=[]
for i in summary:
    summarys.append(i.text)
#summarys
df19=pd.DataFrame({'Rating':ratings[0:5] , 'Review_Summary' :reviews[0:5], 'Full Review' :summarys[0:5]})

In [513]:
df20=df18.append(df19, ignore_index = True)
df20

,Rating,Review_Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
96,5,Simply awesome,Really satisfied with the Product I received.....
97,5,Perfect product!,Amazing phone with great cameras and better ba...
98,5,Best in the market!,Great iPhone very snappy experience as apple k...
99,5,Worth every penny,Previously I was using one plus 3t it was a gr...

## 6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for sneakers in the search field
1. Brand
2. Product Description
3. Price
4. Scrape first 100 shoes data

In [325]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [515]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [516]:
url='https://www.flipkart.com/'
driver.get(url)
time.sleep(2)

In [517]:
search_bar_fk=driver.find_element_by_class_name('_3704LK')
search_bar_fk.clear()
search_bar_fk.send_keys('sneakers')

In [518]:
search_btn_fk=driver.find_element_by_class_name('_34RNph')
search_btn_fk.click()

In [519]:
search_locn=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/ul')
search_locn

In [520]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name=[]
for i in product_tag:
    title_name.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices=[]
for i in price_tags:
    prices.append(i.text)
prices
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des=[]
for i in des_tag:
    des.append(i.text)
#des
df=pd.DataFrame({'Product Name':title_name[0:20] , 'Description' :des[0:20], 'Price' :prices[0:20]})

In [521]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [522]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name1=[]
for i in product_tag:
    title_name1.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices1=[]
for i in price_tags:
    prices1.append(i.text)
prices

des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des1=[]
for i in des_tag:
    des1.append(i.text)
#des
df1=pd.DataFrame({'Product Name':title_name1[0:25] , 'Description' :des1[0:25], 'Price' :prices1[0:25]})

In [523]:
df2=df.append(df1, ignore_index = True)

In [524]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [525]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name2=[]
for i in product_tag:
    title_name2.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices2=[]
for i in price_tags:
    prices2.append(i.text)
prices

des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des2=[]
for i in des_tag:
    des2.append(i.text)
df3=pd.DataFrame({'Product Name':title_name2[0:25] , 'Description' :des2[0:25], 'Price' :prices2[0:25]})
#df3

In [429]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [526]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name2=[]
for i in product_tag:
    title_name2.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices2=[]
for i in price_tags:
    prices2.append(i.text)
prices

des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des2=[]
for i in des_tag:
    des2.append(i.text)
df3=pd.DataFrame({'Product Name':title_name2[0:25] , 'Description' :des2[0:25], 'Price' :prices2[0:25]})
#df3

In [527]:
df=df3.append(df2, ignore_index = True)

In [528]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()

In [529]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name3=[]
for i in product_tag:
    title_name3.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices3=[]
for i in price_tags:
    prices3.append(i.text)
prices

des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des3=[]
for i in des_tag:
    des3.append(i.text)
df4=pd.DataFrame({'Product Name':title_name3[0:30] , 'Description' :des3[0:30], 'Price' :prices3[0:30]})

In [530]:
df4.append(df, ignore_index = True)

      Product Name                                        Description   Price
0         PEHANOSA                                   Sneakers For Men    ₹699
1            WROGN                                   Sneakers For Men  ₹2,811
2         Magnolia  Luxury Fashionable casual sneaker shoes Sneake...    ₹398
3   luxury fashion  Modern Trendy Shoes Combo pack of 4 Sneakers F...    ₹449
4         URBANBOX                                   Sneakers For Men    ₹220
..             ...                                                ...     ...
95      Shoes Bank                          Shark-41 Sneakers For Men    ₹331
96           BIRDE                                   Sneakers For Men    ₹299
97        HOTSTYLE                                   Sneakers For Men    ₹298
98           hecta                          RS-X Mix Sneakers For Men    ₹489
99        RapidBox      Modern Trendy Sneakers Shoes Sneakers For Men    ₹680

[100 rows x 3 columns]

## Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [560]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [561]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [562]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [563]:
price_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')

In [564]:
price_check.click()

In [565]:
color_chk=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_chk.click()

In [566]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
#disc_prices
df=pd.DataFrame({'Product Brand':title_name[0:20] , 'Product_Description' :des[0:20], 'Original Price' :prices[0:20],'Discounted_Price' :disc_prices[0:20]})

In [569]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a').click()

In [570]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
#disc_prices
df=pd.DataFrame({'Product Brand':title_name[0:20] , 'Product_Description' :des[0:20], 'Original Price' :prices[0:20],'Discounted_Price' :disc_prices[0:20]})

In [571]:
df2=df.append(df1, ignore_index = True)

In [572]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[8]/a').click()

In [573]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
disc_prices
df3=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15],'Discounted_Price' :disc_prices[0:15]})

In [574]:
df4=df2.append(df3, ignore_index = True)

In [575]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[8]/a').click()

In [576]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
disc_prices
df5=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15],'Discounted_Price' :disc_prices[0:15]})

In [577]:
df6=df4.append(df5, ignore_index = True)

In [578]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[8]/a').click()

In [579]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
disc_prices
df7=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15],'Discounted_Price' :disc_prices[0:15]})
df7
df8=df6.append(df7, ignore_index = True)

In [580]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[11]/a').click()

In [581]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
disc_prices=[]
for i in dis_price:
    disc_prices.append(i.text)
disc_prices
df9=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15],'Discounted_Price' :disc_prices[0:15]})
df10=df8.append(df9, ignore_index = True)
df10

,Product Brand,Product_Description,Original Price,Discounted_Price
0,Columbia,PEAKFREAK XCRSN II XCEL OUTDRY,Rs. 10999,Rs. 7699
1,DAVINCHI,Men Semiformal Slip-Ons,Rs. 10999,Rs. 7699
2,Call It Spring,Men Derby Shoes,Rs. 11999,Rs. 8999
3,Clarks,Men Sneakers,Rs. 11995,Rs. 8996
4,ADIDAS NEO,Men Cloudfoam Ultimate Sneakers,Rs. 10999,Rs. 7699
...,...,...,...,...
95,ALDO,Men Leather Formal Loafers,Rs. 12999,Rs. 7799
96,Onitsuka Tiger,Unisex Colourblocked Sneakers,Rs. 15999,Rs. 11199
97,Kalenji By Decathlon,Men KD500 Running Shoe,Rs. 11495,Rs. 10345
98,ALDO,Women Sneakers,Rs. 11999,Rs. 9599
99,ADIDAS,Terrex Two Trail Running Shoes,Rs. 13999,Rs. 9099

## Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [588]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [589]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [590]:
url='https://www.amazon.in/'
driver.get(url)

In [591]:
search_item=driver.find_element_by_id("twotabsearchtextbox")
search_item

In [592]:
search_item.send_keys("laptop,")

In [593]:
search_btn_fk=driver.find_element_by_id('nav-search-submit-button')
search_btn_fk.click()

In [594]:
cputype_chk=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
cputype_chk.click()

In [598]:
title_tag=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
ratings=driver.find_elements_by_xpath('//span[@class="a-size-base"]')
rating=[]
for i in ratings:
    rating.append(i.text)
rating
price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
df=pd.DataFrame({'Product Brand':title_name[0:5] , 'Ratings' :rating[0:5], 'Original Price' :prices[0:5]})

In [601]:
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input').click()

In [602]:
cputype_chk=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
cputype_chk.click()

In [604]:
title_tag=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
ratings=driver.find_elements_by_xpath('//span[@class="a-size-base"]')
rating=[]
for i in ratings:
    rating.append(i.text)
rating
price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
df1=pd.DataFrame({'Product Brand':title_name[0:5] , 'Ratings' :rating[0:5], 'Original Price' :prices[0:5]})

In [605]:
df2=df.append(df1, ignore_index = True)
df2

                                       Product Brand Ratings Original Price
0  Dell 14 (2021) i5-1155G7 2in1 Touch Screen Lap...      25         70,790
1  Dell 14 (2021) Ryzen 7-5700U 2in1 Touch Screen...     197         84,990
2  AVITA Cosmos 2 in 1 Intel Celeron Dual Core 11...     251         17,845
3  HP 15 AMD Ryzen 3 3250U Thin & Light 15.6 inch...     912         39,490
4  HP Chromebook 14 inches Thin & Light Touchscre...      41         26,490
5  Dell 14 (2021) i5-1155G7 2in1 Touch Screen Lap...      25         70,790
6  Dell 14 (2021) Ryzen 7-5700U 2in1 Touch Screen...     197         84,990
7  AVITA Cosmos 2 in 1 Intel Celeron Dual Core 11...     251         17,845
8  HP 15 AMD Ryzen 3 3250U Thin & Light 15.6 inch...     912         39,490
9  HP Chromebook 14 inches Thin & Light Touchscre...      41         26,490

### 9. Write a python program to scrape data from http://www.ambitionbox.com for first 10 job results for Data Scientist Designation in noida location.You have to scrape
1. Company Name
2. No. of days when jobs was posted
3. Rating of the company

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [5]:
job_chk=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_chk.click()

In [6]:
search_item=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_item

In [7]:
search_item.send_keys("Data Scientist,")

In [8]:
find=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
find.click()

In [9]:
select_DS = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")

select_DS.click()

In [10]:
select_DS1 = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")

select_DS1.click()

In [11]:
title_tag=driver.find_elements_by_xpath('//a[@class="title noclick"]')

In [12]:
title_name=[]
for i in title_tag:
    title_name.append(i.text.split()[0:4])

In [13]:
company=driver.find_elements_by_xpath('//p[@class="company body-medium"]')

In [14]:
company1=[]
for i in company:
    company1.append(i.text)

In [15]:
rating_post=driver.find_elements_by_xpath('//span[@class="body-small"]')

In [16]:
rating=[]
for i in rating_post:
    rating.append(i.text.split()[0])

In [18]:
pd.DataFrame({'Job Title':title_name[0:10] , 'Company Name' :company1[0:10],'Rating' :rating[0:10]})

,Job Title,Company Name,Rating
0,"[Data, Scientist, @, Bangalore]",Fujitsu Consulting India Pvt. Ltd.,3.8
1,"[Job, opening, with, Wipro]",Wipro Limited,3.8
2,"[Spark, ML, Data, Scientist]",Wipro Limited,3.8
3,"[Spark, ML, Data, Scientist]",Wipro Limited,3.8
4,"[Data, Scientist]",Amazon Development Centre (India) Pvt. Ltd.,4.2
5,"[Lead, Data, Scientist]",Wipro Limited,3.8
6,"[Data, Scientist, -, Analytics]",Crescendo Global,4.8
7,"[Finserv, Markets, is, hiring]",BAJAJ FINSERV DIRECT LIMITED,4.0
8,"[Data, Scientist, -, Consultant]",TransUnion Software Services Pvt. Ltd,4.5
9,"[Senior, Site, Reliability, Engineer]",NUANCE INDIA PVT LTD,4.4

### 10. Write a python program to scrape the salary data for Data Scientist Designation.
You have to scrape 
1. Company Name
2. Number of Salaries
3. Average Salary
4. Min Salary
5. Max Salary

In [19]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [20]:
driver = webdriver.Chrome(r'C:\Users\Ashish Jain\Downloads\chromedriver_win32\chromedriver.exe')

In [21]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [22]:
job_chk=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
job_chk.click()

In [23]:
search_item=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_item

In [24]:
search_item.send_keys("Data Scientist")

In [25]:
find=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]')
find.click()

In [26]:
title_tag=driver.find_elements_by_xpath('//div[@class="name"]')

In [27]:
title_name=[]
title1_name=[]
for i in title_tag:

    title_name.append(i.text.split()[0:1])
    title1_name.append(i.text.split()[2:5])

In [28]:
Asalary_tag=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
Avg_salary=[]
for i in Asalary_tag:
    Avg_salary.append(i.text)

In [29]:
Minsalary_tag=driver.find_elements_by_xpath('//div[@class="salary-values"]')
MinAvg_salary=[]
maxsalary=[]
for i in Minsalary_tag:
    MinAvg_salary.append(i.text.strip('[').split()[1:2])
    maxsalary.append(i.text.replace(r" ?\([^)]+\))","").split()[3:4])

In [30]:
Exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

In [31]:
Experience=[]
for i in Exp:
    Experience.append(i.text.split()[3:5])

In [34]:
df=pd.DataFrame({'Company Name ':title_name[0:10] , 'Total salary record,' :title1_name[0:10], 'Average Salary' :Avg_salary[0:10],'Maximum Salary' :maxsalary[0:10],'Minimum Salary ':MinAvg_salary,'Experience':Experience})

In [35]:
df

,Company Name,"Total salary record,",Average Salary,Maximum Salary,Minimum Salary,Experience
0,[Tekion],"[on, 10, salaries]",₹ 23.3L,[32.0L],[14.0L],"[4, yrs]"
1,[Microsoft],"[based, on, 224]",₹ 22.4L,[45.0L],[12.0L],"[1-4, yrs]"
2,[Goldman],"[based, on, 11]",₹ 21.9L,[30.0L],[16.0L],"[2, yrs]"
3,[Flipkart],"[on, 54, salaries]",₹ 20.6L,[30.0L],[7.0L],"[1-4, yrs]"
4,[Amazon],"[on, 85, salaries]",₹ 19.4L,[41.5L],[8.0L],"[1-4, yrs]"
5,[Arcesium],"[on, 37, salaries]",₹ 18.5L,[30.0L],[12.0L],"[1, yr]"
6,[PayPal],"[on, 12, salaries]",₹ 18.4L,[25.0L],[12.0L],"[1, yr]"
7,[Servicenow],"[Development, India, based]",₹ 18.3L,[25.0L],[12.0L],"[2-3, yrs]"
8,[Walmart],"[on, 79, salaries]",₹ 17.9L,[32.0L],[10.0L],"[1-4, yrs]"
9,[ServiceNow],"[on, 16, salaries]",₹ 17.8L,[23.0L],[11.2L],"[3, yrs]"